* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

/* ============================================================== */
/*                            RESET                               */
/* ============================================================== */
ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

:root {
  /* ============================================================== */
  /*                         COLOR AND BACKGROUND                   */
  /* ============================================================== */

  /* [1] Primary Color */
  --purple-dark: #181a37;
  --purple: #4d69d3;
  --agreen: #55bdd5;

  /* [2] Secondary Color */
  --gray01: #404157;
  --gray02: #737495;
  --gray03: #acadcc;
  --gray04: #d6d7ef;

  /* [3] Gradients */
  --gradient01: linear-gradient(102.33deg, #4d69d3 41.03%, #55bdd5 109.79%);
}

/* ============================================================== */
/*                            TEXT STYLES                         */
/* ============================================================== */

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: auto;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: auto;
}

.subtitle-18 {
  font-size: 18px;
  font-weight: bold;
  line-height: auto;
}

.subtitle-14 {
  font-size: 14px;
  font-weight: bold;
  line-height: auto;
}

/* ============================================================== */
/*                          GENERAL TEXTS                         */
/* ============================================================== */
.body16 {
  font-size: 16px;
  font-weight: medium;
  line-height: 150%;
}

.body12 {
  font-size: 14px;
  font-weight: semi-bold;
  line-height: 150%;
}

/* ============================================================== */
/*                             BUTTONS                            */
/* ============================================================== */
.btn {
  padding: 10px 20px;
  font-size: 14px;
  height: 48px;
  border-radius: 0.3rem;
  border: none;
}

.btn-gradient {
  background: var(--gradient01);
  color: #fff;
}

.btn-default {
  color: #000;
  background: linear-gradient(#fff, #fff), var(--gradient01);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat; /* this is important */
  border: 2px solid transparent;
}

/* ============================================================== */
/*                             SHADOWS                            */
/* ============================================================== */

/* $shadow-small */
.shadow-small {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(43, 37, 63, 0.1);
  border-radius: 12px;

  width: 300px;
  height: 200px;
}

/* $shadow-small */
.shadow-medium {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(51, 48, 62, 0.2);
  border-radius: 12px;

  width: 300px;
  height: 200px;
}
